doctype html 
html 
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href = "assets/css/style.css")
        link(rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")        
        script(src="https://cdn.tailwindcss.com")
        script(src="tailwind.config.js")
        title Trang chủ
    body    
        //- Top head 
        div(class="bg-primary")
            div(class="container mx-auto py-[10px] relative")
                div(class="text-white text-center text-[14px]")
                    span(class="font-[400] ") Đăng ký để được giảm giá 20%. 
                    a(class="font-[500] underline" href="#") Đăng Ký Ngay
                div(class="text-white absolute right-[2px] top-[10px] text-[14px]")
                    i(class="fa-solid fa-xmark")
        //- End top head 
        //- Header 
        div(class="bg-white py-[24px]")
            div(class="container mx-auto flex justify-between items-center")
                div(class="text-[32px] font-[700] text-primary")  28.SHOP
                nav(class="")
                    ul(class="flex justify-between")
                        li(class="text-[16px] font-[400]  mx-[12px]")
                            a(class="text-primary" href="#") Giới Thiệu
                        li(class="text-[16px] font-[400]  mx-[12px]")
                            a(class="text-primary" href="#") Sản Phẩm
                        li(class="text-[16px] font-[400] text-primary mx-[12px]")
                            a(class="text-primary" href="#") Bài Viết
                        li(class="text-[16px] font-[400] text-primary mx-[12px]")
                            a(class="text-primary" href="#") Liên Hệ
                form(class="bg-[#F0F0F0] w-[563px] h-[48px] rounded-[62px] relative"  action="#")
                    input(class="bg-transparent outline-0 w-full h-full pl-[52px] pr-[10px]" type="text" placeholder="Tìm kiếm sản phẩm...")
                    button(class="absolute top-[10px] left-[20px] text-[#00000066] text-[20px]") 
                        i(class="fa-solid fa-magnifying-glass")
                div(class="")
                    a(class="text-[24px] text-primary") 
                        i(class="fa-solid fa-cart-plus")
                    a(class="text-[24px] text-primary ml-[14px]") 
                        i(class="fa-regular fa-circle-user")                        
        //- End Header 
        //- Section-1 
        div(class="bg-[#F2F0F1]")
            div(class="container mx-auto flex justify-between items-center ")
                div(class="w-[48%]")
                    h1(class="font-[900] text-[48px] text-primary mb-[30px]") CHUYÊN THỜI TRANG PHONG CÁCH, HIỆN ĐẠI
                    div(class="text-[16px] font-[400] text-[#00000099] mb-[50px]") Chúng tôi chuyên cung cấp nhiều loại quần áo được chế tác tỉ mỉ, được thiết kế để làm nổi bật cá tính của bạn và đáp ứng phong cách của bạn.
                    //- div(class="")
                    a(class="text-[16px] font-[500] text-white inline-block bg-primary py-[16px] px-[64px] rounded-[62px] mb-[50px]") Xem Ngay
                    div(class="flex ")
                        div(class="pr-[32px] mr-[32px] border-r boredr-[#0000001A]")
                            div(class="text-[40px] font-[700] text-primary") 200+
                            div(class="text-[16px] font-[400] text-[#00000099]") Thương Hiệu 
                        div(class="pr-[32px] mr-[32px] border-r boredr-[#0000001A]")
                            div(class="text-[40px] font-[700] text-primary") 2,000+
                            div(class="text-[16px] font-[400] text-[#00000099]") Sản Phẩm Chất Lượng 
                        div(class="")
                            div(class="text-[40px] font-[700] text-primary") 30,000+
                            div(class="text-[16px] font-[400] text-[#00000099]") Khách Hàng  
                div(class="w-[50%] relative")
                    div(class="w-full pt-[50px]")
                        img(class="w-full" src="assets/images/image-1.png")
                    div(class="absolute top-[42%] left-[5%] w-[56px] ")
                        img(class="w-full" src="assets/images/icon-1.svg")
                  
                    div(class="absolute top-[14%] right-[7%] w-[104px]")
                        img(class="w-full" src="assets/images/icon-1.svg")
                  
                    
        //- End Section-1 
        //- Section 2 
        div(class="bg-primary py-[42px]")
            div(class="container mx-auto flex justify-center items-center")
                div(class="h-[32px] mx-[30px] truncate")
                    img(class="h-full w-auto object-cover" src="assets/images/partner-1.png" alt="image")
                div(class="h-[32px] mx-[30px] truncate")
                    img(class="h-full w-auto object-cover" src="assets/images/partner-2.png" alt="image")
                div(class="h-[32px] mx-[30px] truncate")
                    img(class="h-full w-auto object-cover" src="assets/images/partner-3.png" alt="image")
                div(class="h-[32px] mx-[30px] truncate")
                    img(class="h-full w-auto object-cover" src="assets/images/partner-4.png" alt="image")
                div(class="h-[32px] mx-[30px] truncate")
                    img(class="h-full w-auto object-cover" src="assets/images/partner-5.png" alt="image")
                
        //- End Section 2 
        //- Section 3 
        div(class="bg-white  ")
            div(class="container mx-auto py-[62px] border-b border-[#0000001A]     ")
                h2(class="text-[48px] font-[700] text-primary mb-[54px] text-center") THỜI TRANG MỚI
                div(class = "grid grid-cols-4 gap-[20px]")   
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/product-1.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Áo Thun Nam Đơn Giản
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 120.000đ
                              
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/product-2.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Quần Jean Nam Phong Cách
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 480.000đ
                                div(class="text-[14px] font-[700] text-[#00000066] mr-[10px] underline") 600.000đ
                                div(class="text-[12px] font-[500] text-[#FF3333] bg-[#FF33331A] py-[6px] px-[14px] rounded-[62px]  ") -20%
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/product-3.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Áo Sơ Mi Caro
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 220.000đ
                             
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/product-4.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Áo Thun Nam Đơn Giản
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 126.000đ
                                div(class="text-[14px] font-[700] text-[#00000066] mr-[10px] underline") 180.000đ
                                div(class="text-[12px] font-[500] text-[#FF3333] bg-[#FF33331A] py-[6px] px-[14px] rounded-[62px]  ") -30%
                div(class="text-center")
                    a(class = "text-[16px] font-[500] text-primary rounded-[62px] px-[54px] py-[16px] mt-[40px] inline-block border border-[#0000001A]" href="#") Xem Tất Cả

        //- End  Section 3 
        //- Section 4 
        div(class="bg-white  ")
            div(class="container mx-auto py-[62px] border-b border-[#0000001A]     ")
                h2(class="text-[48px] font-[700] text-primary mb-[54px] text-center") GIẢM GIÁ NHIỀU
                div(class = "grid grid-cols-4 gap-[20px]")   
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/section-4-1.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Áo Sơ Mi Sọc Dọc
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 120.000đ
                              
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/section-4-2.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Áo Thun Nam In Hình
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 480.000đ
                                div(class="text-[14px] font-[700] text-[#00000066] mr-[10px] underline") 600.000đ
                                div(class="text-[12px] font-[500] text-[#FF3333] bg-[#FF33331A] py-[6px] px-[14px] rounded-[62px]  ") -20%
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/section-4-3.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Quần Short BERMUDA
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 220.000đ
                             
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/section-4-4.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Quần Jean Màu Đen
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 126.000đ
                                div(class="text-[14px] font-[700] text-[#00000066] mr-[10px] underline") 180.000đ
                                div(class="text-[12px] font-[500] text-[#FF3333] bg-[#FF33331A] py-[6px] px-[14px] rounded-[62px]  ") -30%
                div(class="text-center")
                    a(class = "text-[16px] font-[500] text-primary rounded-[62px] px-[54px] py-[16px] mt-[40px] inline-block border border-[#0000001A]" href="#") Xem Tất Cả

        //- End  Section 4 
        //- Section-5 
        div(class="")
            div(class="container mx-auto bg-[#F0F0F0] rounded-[40px] py-[70px] px-[64px]")
                h2(class="text-[48px] font-[700] text-primary text-center mb-[60px]" ) DANH MỤC NỔI BẬT
                div(class="grid grid-cols-3 gap-[20px]" )
                    div(class="relative")
                        div(class="text-[36px] font-[700] text-primary absolute top-[15px] left-[15px]") Đơn Giản
                        div(class="h-[289px] w-auto truncate rounded-[20px]")
                            img(class="w-full h-full object-cover" src="assets/images/banner-1.jpg" alt ="image")
                    div(class="col-span-2 relative")
                        div(class="text-[36px] font-[700] text-primary absolute top-[15px] left-[15px]") Lịch Lãm
                        div(class="h-[289px] w-auto truncate rounded-[20px]")
                            img(class="w-full h-full object-cover" src="assets/images/banner-2.jpg" alt ="image")
                    div(class="col-span-2 relative")
                        div(class="text-[36px] font-[700] text-primary absolute top-[15px] left-[15px]") Dạ Hội
                        div(class="h-[289px] w-auto truncate rounded-[20px]")
                            img(class="w-full h-full object-cover" src="assets/images/banner-3.jpg" alt ="image")
                    div(class="relative")
                        div(class="text-[36px] font-[700] text-primary absolute top-[15px] left-[15px]") Gym
                        div(class="h-[289px] w-auto truncate rounded-[20px]")
                            img(class="w-full h-full object-cover" src="assets/images/banner-4.jpg" alt ="image")
        //- End Section-5 
        