doctype html 
html 
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href = "assets/css/style.css")
        link(rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")        
        script(src="https://cdn.tailwindcss.com")
        script(src="tailwind.config.js")
        title Trang chủ
    body    
        //- Top head 
        div(class="bg-primary")
            div(class="container mx-auto py-[10px] relative")
                div(class="text-white text-center text-[14px]")
                    span(class="font-[400] ") Đăng ký để được giảm giá 20%. 
                    a(class="font-[500] underline" href="#") Đăng Ký Ngay
                div(class="text-white absolute right-[2px] top-[10px] text-[14px] sm:block  hidden")
                    i(class="fa-solid fa-xmark")
        //- End top head 
        //- Header 
        div(class="bg-white lg:py-[24px] py-[18px] ")
            div(class="container mx-auto  sm:px-[0px] px-[16px] flex justify-between items-center")
                div(class="text-[24px] text-primary mr-[16px] lg:hidden ")
                    i(class="fa-solid fa-bars" )
                div(class="md:flex-none flex-1  lg:text-[32px] text-[26px] font-[700] text-primary mr-[28px]")  28.SHOP
                nav(class="lg:block hidden")
                    ul(class="flex justify-between")
                        li(class="text-[16px] font-[400]  mx-[12px]")
                            a(class="text-primary" href="#") Giới Thiệu
                        li(class="text-[16px] font-[400]  mx-[12px]")
                            a(class="text-primary" href="#") Sản Phẩm
                        li(class="text-[16px] font-[400] text-primary mx-[12px]")
                            a(class="text-primary" href="#") Bài Viết
                        li(class="text-[16px] font-[400] text-primary mx-[12px]")
                            a(class="text-primary" href="#") Liên Hệ
                form(class="bg-[#F0F0F0] flex-1 h-[48px] rounded-[62px] relative ml-[28px] mr-[40px] md:block hidden "  action="#")
                    input(class="bg-transparent outline-0 w-full h-full pl-[52px] pr-[10px]" type="text" placeholder="Tìm kiếm sản phẩm...")
                    button(class="absolute top-[10px] left-[20px] text-[#00000066] text-[20px]") 
                        i(class="fa-solid fa-magnifying-glass")
                div(class="")
                    a(class="text-[20px] text-primary mr-[12px] md:hidden")
                        i(class="fa-solid fa-magnifying-glass")
                    a(class="md:text-[24px] text-[20px]  text-primary  ") 
                        i(class="fa-solid fa-cart-plus")
                    a(class="md:text-[24px] text-[20px]  text-primary md:ml-[14px] ml-[12px] ") 
                        i(class="fa-regular fa-circle-user")                        
        //- End Header 
        //- Section-1 
        div(class="bg-[#F2F0F1]")
            div(class="container mx-auto  sm:px-[0px] px-[16px]  flex justify-between items-center flex-wrap ")
                div(class="lg:w-[48%] w-[100%]  lg:mt-[0px] mt-[40px]")
                    h1(class="font-[900] xl:text-[48px] lg:text-[34px] text-[30px]  text-primary xl:mb-[30px] xl:mb-[26px] mb-[20px]") CHUYÊN THỜI TRANG PHONG CÁCH, HIỆN ĐẠI
                    div(class="text-[16px] font-[400] text-[#00000099] xl:mb-[50px] lg:mb-[40px] mb-[30px]") Chúng tôi chuyên cung cấp nhiều loại quần áo được chế tác tỉ mỉ, được thiết kế để làm nổi bật cá tính của bạn và đáp ứng phong cách của bạn.                    
                    a(class="text-[16px] font-[500] text-white md:inline-block block text-center bg-primary py-[16px] px-[64px] rounded-[62px] xl:mb-[50px]  mb-[30px]") Xem Ngay
                    div(class="flex flex-wrap lg:justify-start justify-center ")
                        div(class="pr-[32px] lg:ml-[0px] ml-[32px]  mr-[32px] lg:border-r border-none boredr-[#0000001A] lg:mb-[20px] mb-[20px] ")
                            div(class="xl:text-[40px] text-[32px]  font-[700] text-primary") 200+
                            div(class="text-[16px] font-[400] text-[#00000099]") Thương Hiệu 
                        div(class="pr-[32px] lg:ml-[0px] ml-[32px] mr-[32px] lg:border-r border-none boredr-[#0000001A]")
                            div(class="xl:text-[40px] text-[32px]  font-[700] text-primary") 2,000+
                            div(class="text-[16px] font-[400] text-[#00000099]") Sản Phẩm Chất Lượng 
                        div(class="xl:pr-[0px] lg:pr-[64px] pr-[64px]")
                            div(class="xl:text-[40px] text-[32px]  font-[700] text-primary") 30,000+
                            div(class="text-[16px] font-[400] text-[#00000099]") Khách Hàng  
                div(class="lg:w-[50%] w-[100%]  relative truncate  mt-[50px]")
                    div(class="h-full w-auto mb-[-1%]")
                        img(class="h-full object-fit" src="assets/images/image-1.png")
                    div(class="absolute top-[42%] left-[5%] w-[56px]  sm:block hidden")
                        img(class="w-full" src="assets/images/icon-1.svg")
                  
                    div(class="absolute top-[14%] right-[7%] xl:w-[104px] w-[90px] sm:block hidden ")
                        img(class="w-full" src="assets/images/icon-1.svg")
                  
                    
        //- End Section-1 
        //- Section 2 
        div(class="bg-primary md:py-[42px]  pt-[40px] pb-[14px]")
            div(class="container mx-auto sm:px-[0px] px-[16px]  flex justify-center items-center flex-wrap")
                div(class="xl:h-[32px] lg:h-[30px] h-[24px] w-auto xl:mx-[30px]  mx-[17px]  truncate md:mb-[0px] mb-[16px]")
                    img(class="h-full w-auto object-cover" src="assets/images/partner-1.png" alt="image")
                div(class="xl:h-[32px] lg:h-[30px] h-[24px] w-auto xl:mx-[30px]  mx-[17px]  truncate md:mb-[0px] mb-[16px]")
                    img(class="h-full w-auto object-cover" src="assets/images/partner-2.png" alt="image")
                div(class="xl:h-[32px] lg:h-[30px] h-[24px] w-auto xl:mx-[30px]  mx-[17px]  truncate md:mb-[0px] mb-[16px]")
                    img(class="h-full w-auto object-cover" src="assets/images/partner-3.png" alt="image")
                div(class="xl:h-[32px] lg:h-[30px] h-[24px] w-auto xl:mx-[30px]  mx-[17px]  truncate md:mb-[0px] mb-[16px]")
                    img(class="h-full w-auto object-cover" src="assets/images/partner-4.png" alt="image")
                div(class="xl:h-[32px] lg:h-[30px] h-[24px] w-auto xl:mx-[30px]  mx-[17px]  truncate md:mb-[0px] mb-[16px]")
                    img(class="h-full w-auto object-cover" src="assets/images/partner-5.png" alt="image")
                
        //- End Section 2 
        //- Section 3 
        div(class="bg-white  ")
            div(class="container mx-auto py-[62px] border-b border-[#0000001A]     ")
                h2(class="text-[48px] font-[700] text-primary mb-[54px] text-center") THỜI TRANG MỚI
                div(class = "grid grid-cols-4 gap-[20px]")   
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/product-1.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Áo Thun Nam Đơn Giản
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 120.000đ
                              
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/product-2.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Quần Jean Nam Phong Cách
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 480.000đ
                                div(class="text-[14px] font-[700] text-[#00000066] mr-[10px] underline") 600.000đ
                                div(class="text-[12px] font-[500] text-[#FF3333] bg-[#FF33331A] py-[6px] px-[14px] rounded-[62px]  ") -20%
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/product-3.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Áo Sơ Mi Caro
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 220.000đ
                             
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/product-4.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Áo Thun Nam Đơn Giản
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 126.000đ
                                div(class="text-[14px] font-[700] text-[#00000066] mr-[10px] underline") 180.000đ
                                div(class="text-[12px] font-[500] text-[#FF3333] bg-[#FF33331A] py-[6px] px-[14px] rounded-[62px]  ") -30%
                div(class="text-center")
                    a(class = "text-[16px] font-[500] text-primary rounded-[62px] px-[54px] py-[16px] mt-[40px] inline-block border border-[#0000001A]" href="#") Xem Tất Cả

        //- End  Section 3 
        //- Section 4 
        div(class="bg-white  ")
            div(class="container mx-auto py-[62px] border-b border-[#0000001A]     ")
                h2(class="text-[48px] font-[700] text-primary mb-[54px] text-center") GIẢM GIÁ NHIỀU
                div(class = "grid grid-cols-4 gap-[20px]")   
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/section-4-1.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Áo Sơ Mi Sọc Dọc
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 120.000đ
                              
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/section-4-2.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Áo Thun Nam In Hình
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 480.000đ
                                div(class="text-[14px] font-[700] text-[#00000066] mr-[10px] underline") 600.000đ
                                div(class="text-[12px] font-[500] text-[#FF3333] bg-[#FF33331A] py-[6px] px-[14px] rounded-[62px]  ") -20%
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/section-4-3.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Quần Short BERMUDA
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 220.000đ
                             
                    div(class = "")
                            div(class= "h-[296px] w-auto truncate rounded-[20px] mb-[20px] ")
                                img(class="w-full h-full object-fit" src="assets/images/section-4-4.jpg" alt="image")
                            h3(class = "text-[18px] font-[700] text-primary mb-[10px]") Quần Jean Màu Đen
                            div(class = "flex items-center mb-[12px]")
                                div(class ="text-[19px] text-[#FFC633] mr-[13px]")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                    i(class="fa-solid fa-star")
                                div(class ="text-[14px] font-[400] text-[#00000099]") 5/5
                            div(class="flex items-center")
                                div(class="text-[18px] font-[700] text-primary mr-[10px] ") 126.000đ
                                div(class="text-[14px] font-[700] text-[#00000066] mr-[10px] underline") 180.000đ
                                div(class="text-[12px] font-[500] text-[#FF3333] bg-[#FF33331A] py-[6px] px-[14px] rounded-[62px]  ") -30%
                div(class="text-center")
                    a(class = "text-[16px] font-[500] text-primary rounded-[62px] px-[54px] py-[16px] mt-[40px] inline-block border border-[#0000001A]" href="#") Xem Tất Cả

        //- End  Section 4 
        //- Section-5 
        div(class="")
            div(class="container mx-auto bg-[#F0F0F0] rounded-[40px] py-[70px] px-[64px]")
                h2(class="text-[48px] font-[700] text-primary text-center mb-[60px]" ) DANH MỤC NỔI BẬT
                div(class="grid grid-cols-3 gap-[20px]" )
                    div(class="relative")
                        div(class="text-[36px] font-[700] text-primary absolute top-[15px] left-[15px]") Đơn Giản
                        div(class="h-[289px] w-auto truncate rounded-[20px]")
                            img(class="w-full h-full object-cover" src="assets/images/banner-1.jpg" alt ="image")
                    div(class="col-span-2 relative")
                        div(class="text-[36px] font-[700] text-primary absolute top-[15px] left-[15px]") Lịch Lãm
                        div(class="h-[289px] w-auto truncate rounded-[20px]")
                            img(class="w-full h-full object-cover" src="assets/images/banner-2.jpg" alt ="image")
                    div(class="col-span-2 relative")
                        div(class="text-[36px] font-[700] text-primary absolute top-[15px] left-[15px]") Dạ Hội
                        div(class="h-[289px] w-auto truncate rounded-[20px]")
                            img(class="w-full h-full object-cover" src="assets/images/banner-3.jpg" alt ="image")
                    div(class="relative")
                        div(class="text-[36px] font-[700] text-primary absolute top-[15px] left-[15px]") Gym
                        div(class="h-[289px] w-auto truncate rounded-[20px]")
                            img(class="w-full h-full object-cover" src="assets/images/banner-4.jpg" alt ="image")
        //- End Section-5 
        //- Section 6 
        div(class="bg-white pt-[86px] mb-[80px]")
            div(class="container mx-auto ")
                h2(class="text-[48px] font-[700] text-primary text-center mb-[38px]" ) CẢM NHẬN CỦA KHÁCH HÀNG
                div(class="grid grid-cols-3 gap-[20px]")
                    div(class="py-[28px] px-[32px] border border-[#0000001A] rounded-[20px]")
                        div(class="text-[23px] text-[#FFC633] mb-[15px]")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                        div(class="flex mb-[12px]")
                            div(class="text-[20px] font-[700] text-primary mr-[4px]") Le Van A
                            div(class="text-[20px] text-[#01AB31] ") 
                                i(class="fa-solid fa-circle-check")
                        div(class="text-[16px] font-[400] text-[#00000099]") "Tôi rất ngạc nhiên trước chất lượng và kiểu dáng của những bộ quần áo từ 28.SHOP. Từ trang phục thường ngày đến trang phục thanh lịch, mọi món đồ tôi mua đều vượt quá sự mong đợi của tôi."
                    div(class="py-[28px] px-[32px] border border-[#0000001A] rounded-[20px]")
                        div(class="text-[23px] text-[#FFC633] mb-[15px]")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                        div(class="flex mb-[12px]")
                            div(class="text-[20px] font-[700] text-primary mr-[4px]") Le Van B
                            div(class="text-[20px] text-[#01AB31] ") 
                                i(class="fa-solid fa-circle-check")
                        div(class="text-[16px] font-[400] text-[#00000099]") "Việc tìm kiếm quần áo phù hợp với phong cách cá nhân của tôi từng là một thử thách cho đến khi tôi khám phá ra 28.SHOP. Hàng loạt lựa chọn mà họ cung cấp thực sự đáng chú ý."
                    div(class="py-[28px] px-[32px] border border-[#0000001A] rounded-[20px]")
                        div(class="text-[23px] text-[#FFC633] mb-[15px]")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                            i(class="fa-solid fa-star")
                        div(class="flex mb-[12px]")
                            div(class="text-[20px] font-[700] text-primary mr-[4px]") Le Van C
                            div(class="text-[20px] text-[#01AB31] ") 
                                i(class="fa-solid fa-circle-check")
                        div(class="text-[16px] font-[400] text-[#00000099]") "Là một người luôn tìm kiếm những món đồ thời trang độc đáo, tôi rất vui khi tình cờ biết đến 28.SHOP. Việc lựa chọn quần áo không chỉ đa dạng mà còn bắt kịp xu hướng mới nhất."

        //- End Section 6 
        //- Section 7 
        div(class="relative")
            div(class="container mx-auto bg-primary rounded-[20px] py-[36px] px-[64px] flex items-center justify-between")
                h2(class="text-white text-[40px] font-[700] w-[550px] h-auto") CẬP NHẬT VỀ ƯU ĐÃI MỚI NHẤT CỦA CHÚNG TÔI
                form(class="")  
                    div(class="relative mb-[14px]")
                        input(class="h-[48px] w-[350px] rounded-[62px] bg-white py-[12px] pl-[52px] pr-[10px]" type="text" placeholder="Nhập email của bạn...")
                        div(class="absolute left-[22px] top-[15px]")
                            i( class="fa-regular fa-envelope text-[#00000066] text-[20px] ")
                    button(class="text-primary text-[16px] font-[500] h-[44px] w-[350px] bg-white rounded-[62px]  ") Đăng Ký Nhận Tin
        //- End Section 7 
        //- Section-8 
        footer(class="bg-[#F0F0F0] pb-[82px] pt-[140px] mt-[-90px]")
            div(class="container mx-auto")
                div(class="flex justify-between items-start pb-[48px] border-b border-[#0000001A]")
                    div(class="w-[248px]")
                        div(class="text-[34px] font-[700] text-primary mb-[25px]") 28.SHOP 
                        div(class="text-[14px] font-[400] text-[#00000099]") Chúng tôi có những bộ quần áo phù hợp với phong cách của bạn và bạn có thể tự hào khi mặc.
                        div(class="mt-[35px] flex items-center")
                            div(class="w-[28px] h-[28px] text-primary bg-white flex items-center justify-center rounded-[100%] mr-[12px] border border-[#00000033] ")
                                i(class="fa-brands fa-twitter")                            
                            div(class="w-[28px] h-[28px] text-white bg-primary flex items-center justify-center rounded-[100%] mr-[12px]  border border-[#00000033]")                               
                                i(class="fa-brands fa-facebook-f")
                            div(class="w-[28px] h-[28px] text-primary bg-white flex items-center justify-center rounded-[100%] mr-[12px]  border border-[#00000033]")
                                i(class="fa-brands fa-instagram")
                    div(class="w-auto pt-[5px]")                           
                        div(class="text-[16px] font-[500] text-primary uppercase mb-[26px]") CÔNG TY
                        ul(class="")
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Giới Thiệu          
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Sản Phẩm                   
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Công Việc            
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Việc Làm  
                    
                    div(class="w-auto pt-[5px]")                           
                        div(class="text-[16px] font-[500] text-primary uppercase mb-[26px]") Trợ giúp
                        ul(class="")
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Hỗ Trợ Khách Hàng          
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Thông Tin Đơn Hàng                 
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Điều Khoản và Điều Kiện            
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Chính Sách 
                    
                    div(class="w-auto pt-[5px]")                           
                        div(class="text-[16px] font-[500] text-primary uppercase mb-[26px]") FAQ
                        ul(class="")
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Tài Khoản          
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Quản Lý Đơn Hàng                
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Đơn Hàng
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Thanh Toán
                    
                    div(class="w-auto pt-[5px]")                           
                        div(class="text-[16px] font-[500] text-primary uppercase mb-[26px]") Tài nguyên
                        ul(class="")
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Sách Miễn Phí        
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Bài Viết              
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Kiến Thức
                            li(class="text-[16px] font-[400] text-[#00000099] capitalize mb-[15px]")
                                a(href="#") Youtube
                    

                div(class="flex justify-between items-center pt-[20px]")
                    div(class="text-[14px] font-[400] text-[#00000099]") 28.SHOP © 2024, All Rights Reserved
                    div(class="flex justify-between") 
                        div(class="w-[46px] h-[30px] rounded-[6px] mr-[12px] bg-white truncate flex justify-center items-center ")
                            img(class="" src="assets/images/footer-icon-1.svg" alt="icon") 
                        div(class="w-[46px] h-[30px] rounded-[6px] mr-[12px] bg-white truncate flex justify-center items-center ")
                            img(class="" src="assets/images/footer-icon-2.svg" alt="icon") 
                        div(class="w-[46px] h-[30px] rounded-[6px] mr-[12px] bg-white truncate flex justify-center items-center ")
                            img(class="" src="assets/images/footer-icon-3.svg" alt="icon") 
                        div(class="w-[46px] h-[30px] rounded-[6px] mr-[12px] bg-white truncate flex justify-center items-center ")
                            img(class="" src="assets/images/footer-icon-4.svg" alt="icon") 
                        div(class="w-[46px] h-[30px] rounded-[6px] mr-[12px] bg-white truncate flex justify-center items-center ")
                            img(class="" src="assets/images/footer-icon-5.svg" alt="icon") 
                        
                        

        //- Section-8 