doctype html 
html 
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href = "assets/css/style.css")
        link(rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")        
        script(src="https://cdn.tailwindcss.com")
        script(src="tailwind.config.js")
        title Trang chủ
    body    
        //- Top head 
        div(class="bg-primary")
            div(class="container mx-auto py-[10px] relative")
                div(class="text-white text-center text-[14px]")
                    span(class="font-[400] ") Đăng ký để được giảm giá 20%. 
                    a(class="font-[500] underline" href="#") Đăng Ký Ngay
                div(class="text-white absolute right-[2px] top-[10px] text-[14px]")
                    i(class="fa-solid fa-xmark")
        //- End top head 
        //- Header 
        div(class="bg-white py-[24px]")
            div(class="container mx-auto flex justify-between items-center")
                div(class="text-[32px] font-[700] text-primary")  28.SHOP
                nav(class="")
                    ul(class="flex justify-between")
                        li(class="text-[16px] font-[400]  mx-[12px]")
                            a(class="text-primary" href="#") Giới Thiệu
                        li(class="text-[16px] font-[400]  mx-[12px]")
                            a(class="text-primary" href="#") Sản Phẩm
                        li(class="text-[16px] font-[400] text-primary mx-[12px]")
                            a(class="text-primary" href="#") Bài Viết
                        li(class="text-[16px] font-[400] text-primary mx-[12px]")
                            a(class="text-primary" href="#") Liên Hệ
                form(class="bg-[#F0F0F0] w-[563px] h-[48px] rounded-[62px] relative"  action="#")
                    input(class="bg-transparent outline-0 w-full h-full pl-[52px] pr-[10px]" type="text" placeholder="Tìm kiếm sản phẩm...")
                    button(class="absolute top-[10px] left-[20px] text-[#00000066] text-[20px]") 
                        i(class="fa-solid fa-magnifying-glass")
                div(class="")
                    a(class="text-[24px] text-primary") 
                        i(class="fa-solid fa-cart-plus")
                    a(class="text-[24px] text-primary ml-[14px]") 
                        i(class="fa-regular fa-circle-user")                        
        //- End Header 
        //- Section-1 
        div(class="")
            div(class="container")
                div(class="")
                    h1(class="") CHUYÊN THỜI TRANG PHONG CÁCH, HIỆN ĐẠI
                    div(class="") Chúng tôi chuyên cung cấp nhiều loại quần áo được chế tác tỉ mỉ, được thiết kế để làm nổi bật cá tính của bạn và đáp ứng phong cách của bạn.
                    a(class="") Xem Ngay
                    div(class="")
                        div(class="")
                            div(class="") 200+
                            div(class="") Thương Hiệu 
                        div(class="")
                            div(class="") 2,000+
                            div(class="") Sản Phẩm Chất Lượng 
                        div(class="")
                            div(class="") 30,000+
                            div(class="") Khách Hàng  
                div(class="")
                    div(class="")
                        img(class="w-[300px]" src="assets/images/image-1.png")
                    div(class="")
                        img(class="" src="assets/images/icon-1.svg")
                  
                    div(class="")
                        img(class="" src="assets/images/icon-1.svg")
                  
                    
        //- End Section-1 